/*font 
font-family: 'Arimo', sans-serif;
font-family: 'Black Ops One', cursive;
*/

/**NAVBAR*/
.logo{
    margin-left:-78em;
    width:100;
 }
 
 .navbar {
    font-size: 1.3em;
    font-family: 'Arimo', sans-serif;
    font-family: 'Unica One', cursive;
    padding-top: 1em;
}
/*
.navbar-expand-lg .navbar-nav {
    flex-direction: row;
    left: 90em;
}
*/
 /**HOME*/
 #homee{
    background-image: url('../img/fundo.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100VH;
}
 
 .inicio{
    color: #fffbfb;
    font-family: 'Black Ops One', cursive;
    margin-top: 2.5em;
    margin-left: 23em;
   }

 .btn-warning{
    border-radius:2em;
    height: 3em;
    width: 15em;
    margin-left: 58em;
    margin-top: 2em;
    color:#fffbfb;
    font-family: Unica One;
 } 
 .btn-warning:hover{
     color: #320F49;
     
 }

 img.img1{
    margin-top: 2.5em;
}

 img.retangulo{
     position: absolute;
}

 #msgconteudo{
     font-family: 'Arimo', sans-serif;
     margin-top: 5em;
     font-size: 2.2em;
     text-align: right;
     position: absolute;
     margin-left: 4.5em;
 }

 #msgconteudodir {
    margin-top: 3.3em;
    font-size: 2.2em;
    }

 #msgconteudoesq {
    font-family: 'Arimo', sans-serif;
    margin-top: 3.5em;
    font-size: 2.2em;
    text-align: right;
    position: absolute;
    margin-left: 5em;
    }


 .aulas {
     background-color: #320F49;
 }


#titpart2{
    margin-top: 1.5em;
}

 .retdir1 {
   width: 30%;
   z-index: 1;
   position: relative;
   
 }
 .retdir2{
    width: 40%;
    z-index: 2;
    position: relative;
    margin-top: -20em;
 }
 
 #coletivas{
     color: #fefefe;
     
 }
 .tit{
    color: #fefefe;
    position: absolute;
    margin-left: 13em;
    margin-top: 1em;
    font-family: 'Black Ops One', cursive;
    z-index: 5;

 }
 .navbar-expand-lg .navbar-nav{
    flex-direction: column-reverse; 
    left: 90em;
 }
/*parte inicial*/

#nossosplanos{
    background-image: url('../img/planos.png');
    background-size: cover;
    background-repeat:no-repeat; 
    height: 100VH;

}
.navbarnossosplanos{
    font-size: 1.3em;
    font-family: 'Arimo', sans-serif;
    font-family: 'Unica One', cursive;
    padding-top: 1em;
}
.titplanos{
    font-family: 'Black Ops One', cursive;
    color: white;
    margin-top: 3.5em;
    font-size: 2.3em
}
/*
.navbar-expand-lg .navbar-nav {
    flex-direction: row;
    left: 90em;
}*/
/*segunda section*/

#nossosplanos2{
    min-height: 120vh;
}

#titpart2{
    font-family: 'Black Ops One', cursive;
    font-size: 2.5em;
    color: #320F49;
    margin-bottom: 1em;
}

.container1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 2em;
}

.container2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 2em;
    margin-top: -22em;
    z-index: 1000;
}

img.planos{
    width: 19em;
}

.itens{
    margin-left: 1em;
    margin-top: 2em;
}

.ret img{
    width: 50em;
    position: absolute;
    top: 92em;
    z-index: 10000000; 
    
}
#pagapp{
    background-color: #320F49;
}
#titapp{
    color: #FFB612;
    font-family: 'Black Ops One', cursive;
    margin-top: 1.5em;
    margin-bottom: 1em;
    font-size: 3em;


}
#contapp{
    color: white;
    font-family: 'Arimo', sans-serif;
    font-size: 1.5em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.baixe img  {
    margin-top: 4em;
    
}
img.app  {
    width: 98%;
    margin-bottom: 0;
}  

/* Rodape */

#logorodape{
    width: 15%;
    margin-top: 2em;
    margin-bottom: 3em;
}




/*PAG DE CADASTRO */

body{
    background-color: #ffffff;
}
.logo{
    margin-left:-78em;
    width:100;
 }
 
.navbar {
    font-size: 1.3em;
    font-family: 'Arimo', sans-serif;
    font-family: 'Unica One', cursive;
    padding-top: 1em;
}
.navbar-expand-lg .navbar-nav {
    flex-direction: row;
    left: 90em;
}
.cadastro{
    width: 70%;
    margin: auto;
    border-radius: 1em;
    background-color: #F0F0F0;
    margin-top: 6em;
}
.cad{
    padding: 2em;

}
.cadastro img{
    width: 100%;
    margin-left: -1em;
}
.cadastro input{
    background-color: #D9D9D9;
    border-radius: 10px;
}
.cadastro button{
    background-color: #6A468E;
    width: 8em;
    border-color: #6A468E;
}
#log{
    margin-bottom: 0.5em;
}






/*RESPONSIVIDADE*/

/* Small devices (landscape phones, 576px and up) */

@media screen and (max-width: 576px){
    /* home */
    #homee {
        background-color: #320F49;
        background-image: none;
        height: 70vh;
    }
    .inicio{
        margin-left:2em;
        margin: 2em;
        height: 5em;
        margin-top: -19em;
    }
    .btn-warning{
        margin-left:6em;
        margin-top: -8em;
    }
    img.retangulo{
        height: 11.5em;
    }
    img.img1{
        width:24em;
        margin-left: 4em;
    }
    #msgconteudo{
        font-size: 2em;
        text-align: center;
        margin-top: 10em;
        margin-left: 3em;
    }
    img.img2{
        width:26em;
        margin-left: 3em;
        margin-top: 7em;
    }
    #msgconteudodir{
        font-size: 1.9em;
        text-align: center;
        margin-top:-0.2em ;
        margin-left: 1em;
    }
    img.img3{
        width:26em;
        margin-left: 3em;
        margin-top: 2em;
    }
    #msgconteudoesq{
        font-size: 1.9em;
        text-align: center;
        margin-top: 12em ;
        margin-left: 3em;
        margin-top: 11em;

    }
    .aulas{
        margin-top: 13em;
    }
    .tit{
        margin-left: 4em;
    }
    .container2{
      margin-top: -5em;
    }
    .retdir2{
     margin-top: 2em;
    }
    #nossosplanos{
        background-color: #320F49;
        background-image: none;
        height: 70vh;
    }
    /* pagina planos */
    .titplanos{
        font-size:2.5em;
        margin-right:10em;
        margin:3.5em;
        margin-top: 3em;
    }
}


@media screen and (max-width: 768px){
 /* HOME */

 #homee {
    background-color: #320F49;
    background-image: none;
    height: 70vh;
}
.inicio{
    color: #ffffff;
    font-family: 'Black Ops One', cursive;
    margin: 4em;
    margin-left:4em;
   }

 .btn-warning{
    border-radius:2em;
    height: 3em;
    width: 15em;
    margin-top: -8em;
    color:#ffffff;
    font-family: Unica One;
    margin-left: 10em;
   
 } 
 img.retangulo{
    height: 11.5em;
}
img.img1{
    width:24em;
    margin-left: 4em;
}
#msgconteudo{
    font-size: 2em;
    text-align: center;
    margin-top: 10em;
    margin-left: 3em;
}
img.img2{
    width:26em;
    margin-left: 3em;
    margin-top: 7em;
}
#msgconteudodir{
    font-size: 1.9em;
    text-align: center;
    margin-top:-0.2em ;
    margin-left: 1em;
}
img.img3{
    width:26em;
    margin-left: 3em;
    margin-top: 2em;
}
#msgconteudoesq{
    font-size: 1.9em;
    text-align: center;
    margin-top: 12em ;
    margin-left: 3em;
    margin-top: 11em;

}

.aulas{
    margin-top: 13em;
}
.tit{
    margin-left: 4em;
}
.container2{
  margin-top: -5em;
}
.retdir2{
 margin-top: 2em;
}
/* pag planos */
#nossosplanos{
    background-color: #320F49;
    background-image: none;
    height: 70vh;
}
.container .titplanos{
    margin-left: 2em ;
    margin:3.5em;
    font-size:2.5em;
}
.titplanos{
    margin-left: 4em;
}
}

@media screen and (max-width: 1024px){
    /* HOME */
    .logo{
        margin-left:-80em;
        width:120em;
     }
    #homee {
        background-image: url('../img/planos.png');
     background-image: none;
     height: 70vh;
   }
   .inicio{
    color: #ffffff;
    font-family: 'Black Ops One', cursive;
    margin: 2em;
    margin-left:5em;
   }

 .btn-warning{
    border-radius:2em;
    height: 3em;
    width: 15em;
    margin-top: -5em;
    color:#ffffff;
    font-family: Unica One;
    margin-left: 10em;   
 } 

 img.retangulo{
    height: 11.5em;
}
img.img1{
    width:24em;
    margin-left: 4em;
}
#msgconteudo{
    font-size: 2em;
    text-align: center;
    margin-top: 10em;
    margin-left: 3em;
}
img.img2{
    width:26em;
    margin-left: 3em;
    margin-top: 7em;
}
#msgconteudodir{
    font-size: 1.9em;
    text-align: center;
    margin-top:-0.2em ;
    margin-left: 1em;
}
img.img3{
    width:26em;
    margin-left: 3em;
    margin-top: 2em;
}
#msgconteudoesq{
    font-size: 1.9em;
    text-align: center;
    margin-top: 12em ;
    margin-left: 3em;
    margin-top: 11em;

}

}

/*login*/

.cadastro{
    width: 70%;
    margin: auto;
    border-radius: 1em;
    background-color: #F0F0F0;
    margin-top: 6em;
}
.cad{
    padding: 2em;

}
.cadastro img{
    width: 100%;
    margin-left: -1em;
}
.cadastro input{
    background-color: #D9D9D9;
    border-radius: 10px;
}
.cadastro button{
    background-color: #6A468E;
    width: 8em;
    border-color: #6A468E;
    
}
#butt button {
    background-color: #6A468E;
    border-color: #6A468E;
}
#log{
    margin-bottom: 0.5em;
}
@media (max-width: 800px){
  .cadastro img{
    display: none;
  }
}
.lct {
    width: 100%;
    height: 1em;
    border-bottom: 1px solid black;
    text-align: center;
    margin-top: 1.2em;
    margin-bottom: 1.5em;
    color: #AFAFAF;
  }
  
.lct > span {
    font-size: 1em;
    background-color: #F0F0F0;
    padding: 0 10px;
}
#ntl button{
    background-color: #FFB612;
    border-color: none;
}
.perf{
    background-color: #D9D9D9;
    width: 40%;
    border-radius: 1em;
    padding: 1em;
    margin-top: 5em;
    
}
.perf img{
    width: 17%;
    margin-bottom: 0.1em;
}
.perf button{
    margin-top: 1.2em;
}
.neperf{
    padding: 1em;
}