/*font 
font-family: 'Arimo', sans-serif;
font-family: 'Black Ops One', cursive;
*/

/**NAVBAR*/
    .logo{
       margin-left: 2em;
       width:100;
    }
    .navbar-brand{
     margin-right: -5em;
    }
    .navbar {
        position: absolute;
        display: flex;
        align-items: center;
        top: 0.5em;  
    }
    .navbar-nav{
      margin-left: 55em;
    }
    .navbar-nav .nav-link  {
        margin-left: 2em;/*espaço entre cada palavra do navbar*/
        letter-spacing: 0.7mm;/*espaço entre cada letra do navbar*/
    }
    .navbar-nav .nav-link{
        margin-left: 1em;
        color: rgb(248, 248, 248);
        font-family: Unica One;
        font-size: 1.2em;
    }
    .nav-link:hover {
        color: #c89e1f; /*ao passar por cima das letras(navbar)*/
    }

    /**HOME*/
    .home{
        background-image : url('../img/fundo.png');
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
       
    }
    .inicio{
       color: #fffbfb;
       font-family: 'Black Ops One', cursive;
       margin-left: 20em;
       margin-top: 5em;
    }

    .btn-warning{
       border-radius:2em;
       height: 3em;
       width: 15em;
       margin-left: 50em;
       margin-top: 2em;
       color:#fffbfb;
       font-family: Unica One;
    } 
    .btn-warning:hover{
        color: #320F49;
        
    }
  
    img.img1{
       margin-top: 2.5em;
   }

    img.retangulo{
        position: absolute;
   }

    #msgconteudo{
        font-family: 'Arimo', sans-serif;
        margin-top: 5em;
        font-size: 2.2em;
        text-align: right;
        position: absolute;
        margin-left: 4.5em;
    }

    #msgconteudodir {
        margin-top: 3.3em;
        font-size: 2.2em;
    }

    #msgconteudoesq {
        font-family: 'Arimo', sans-serif;
        margin-top: 3.5em;
        font-size: 2.2em;
        text-align: right;
        position: absolute;
        margin-left: 5em;
    }


    .aulas {
        background-color: #320F49;
    
    }


    .retdir1 {
      height: 35em;
      
    }
    .retdir2{
        height: 32em;
    }
    
    #coletivas{
        color: #fefefe;
        
    }

    /*Pag nossoss planos*/

    .planos{
        background-image : url('../img/planos.png');
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
       
    }
    .planos-familia{/*titulo da imagem principal*/
        color: #fefefe;
        font-family: 'Black Ops One', cursive;
        margin-top: 5em;
        margin-left: 24em;
     }

    .familia{
        font-family: 'Black Ops One', cursive;
        color: #320F49;
        margin: 2em;
        margin-left: 11em;
        height: 40vh;
    }

    .card-title{
        font-family: 'Black Ops One', cursive;
        background-color: #320F49;
        color: #fffbfb;
        margin:0;
    }
    .card-text{
        font-family: 'Black Ops One', cursive;
    }

    .card-body{
        background-color: rgb(245, 245, 245);
        margin: 0;
        margin-top: -15em;
        margin-left: 3em;
    }







      
        /*RESPONSIVIDADE*/

    /*(landscape phones, 576px and up)*/
    @media (min-width: 576px) {

     }

    /* Medium devices (tablets, 768px and up)*/
    @media (min-width: 768px) { 

     }

    /*Large devices (desktops, 992px and up)*/ 
    @media (min-width: 992px) { 
     .inicio{
        margin-left: 22em;
     }
     .btn-warning{
        margin-left: 54em;
     }
     .navbar-nav .nav-link{
        margin-top: 2.5em;
        color: rgb(248, 248, 248);
        font-family: Unica One;
        font-size: 1.2em;
    }
    .navbar-nav .nav-link  {
        margin-left: 0.5em;/*espaço entre cada palavra do navbar*/
        letter-spacing: 0.3mm;/*espaço entre cada letra do navbar*/
    }
     }

    /* X-Large devices (large desktops, 1200px and up)*/
    @media (min-width: 1200px) { 

    }

    /*XX-Large devices (larger desktops, 1400px and up)*/ 
    @media (min-width: 1400px) { 
    
    }